@import "../../variables";

.navItem {
    position: relative;

    .navChildren {
      display: none;
      position: absolute;
      top: 30px;
      left: 10px;
      padding: 10px 20px;
      box-shadow: 0 0 20px -20px black;
      border-radius: 4px;
    }

    &:hover .navChildren {
      display: block;
      z-index: 2;
      background: $background;
    }
  }