.myButton {
  .button {
    background: black;
    color: white;

    &:global(.text) {
      background: none;
    }

    @media (min-width: 992px) {
      background: white;
      border: none;
      color: black;
      border: 1px solid black;
      transition: background 1s;

      &:hover {
        background: black;
        color: white;
      }
    }
  }
}
