.titleSwiper {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
}

.swiperSlide {
  display: flex;
  justify-content: center;

  .card {
    width: 80%;
  
    .cardBody {
      text-align: center;
  
      .cardTitle {
        font-size: large;
      }
  
      .cartBtn {
        width: 100%;
      }
    }
  }
}


