@import "../variables";

header {
  background: $background;

  .logo {
    width: 100px;
  }

  .cart {
    margin-left: 150px;

    sup.cartNumber {
      font-size: 15px;
      vertical-align: 5px;
    }
  }

  :global(button.collapsed) {
    margin-left: 40px;
  }
}
