@import "../variables";

.modalHeader {
  background: $background;

  :global(.btn-close) {
    margin-bottom: calc(133px / 2);
  }

  .modalTitle {
    @media (min-width: 992px) {
      margin-left: calc(50% - 50px);
    }

    .logoCenter {
      margin-left: calc(50vw - 1rem - 50px);
  
      @media (min-width: 992px) {
        margin-left: 0;
      }
  
      .logo {
        width: 100px;
      }
    }
  }
}

.modalBody {
  :global(.nav-tabs) {
    flex-direction: row;

    :global(.nav-item) {
      width: 50%;
      text-align: center;
    }
  }
}
