@import "../../../src/variables";

.titleSwiper {
  margin-top: 100px;
  margin-bottom: 70px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 41px;
}

.swiper {
  :global(.swiper-button-next:after),
  :global(.swiper-button-prev:after) {
    color: gray;
    font-size: 30px;
  }

  .swiperSlide {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
}
