.card {
  // width: 80%;
  cursor: pointer;

  .cardBody {
    text-align: center;

    .cardTitle {
      font-size: large;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .cartBtn {
      width: 100%;
    }
  }
}